/* Catamaran font */
@import url(https://fonts.googleapis.com/css?family=Catamaran);

/* Source Code Pro font*/
@import url (https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

h1 {
  color: #C51162;
}

h2 {
  color: #A71758;
}

h3 {
  color: #8A1E4F;
}

::selection {
  background: #3D5AFE;
  color: #FFFFFF;
}

::-moz-selection {
  background: #3D5AFE;
  color: #FFFFFF;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.page {
	min-height: 100%;
	position: relative;
}

header {

}

main {
    padding: 16px;
	padding-bottom:100px;
}

footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
}

/* No selection nor dragging */
.noseldrag {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* Username */
user {
  color: #673AB7;
  font-weight: 700;
}

a:hover > small.text-muted,
small.text-muted > a:hover {
  text-decoration: underline;
}

.editorial-title > h1 {
  margin-bottom: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button:hover {
  background: #9fa8da;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c27b0;
}

::-webkit-scrollbar-thumb:hover {
  background: #af2cc5;
}

::-webkit-scrollbar-thumb:active {
  background-color: #882299;
}

::-webkit-scrollbar:hover {
  background-color: rgba(156, 39, 176, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #6c6c6c;
}

::-webkit-scrollbar:window-inactive {
  background-color: rgba(0, 0, 0, 0);
}