/* Catamaran font */
@import url(https://fonts.googleapis.com/css?family=Catamaran);

h1 {
  color: #C51162;
}

h2 {
  color: #A71758;
}

h3 {
  color: #8A1E4F;
}

::selection {
    background: #3D5AFE;
    color: #FFFFFF;
}

::-moz-selection {
    background: #3D5AFE;
    color: #FFFFFF;
}