/* Catamaran font */
@import url(https://fonts.googleapis.com/css?family=Catamaran);

::selection {
    background: #3D5AFE;
    color: #FFFFFF;
}

::-moz-selection {
    background: #3D5AFE;
    color: #FFFFFF;
}