<!--Footer-->
  <footer class="page-footer primary-color center-on-small-only">
    <div class="footer-copyright">
      <div class="container-fluid">
        &copy 2016 mcpt.ca
      </div>
    </div>
  </footer>
  </div>
  
  <!--Scripts-->
  <script src="{{ .Site.BaseURL }}js/ga.js"></script>
  <script src="{{ .Site.BaseURL }}js//prism.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/mdb.js"></script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
  <link href="{{ .Site.BaseURL }}js/tether.js" rel="stylesheet">
  <script src="{{ .Site.BaseURL }}/js/script.js"></script>
  
</body>
</html>